* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#iwbl {
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#iwbl {
    background-repeat: repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: scroll;
    background-size: cover;
}

#ix1o {
    background-image: url("../MB6YKC9L.jpeg");
    background-size: cover;
    height: 163px;
    background-repeat: no-repeat;
}

.htmlpage-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.htmlpage-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.c19009 {
    width: 11.21%;
}

.c19018 {
    width: 70%;
}

.c19197 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    color: rgb(255, 0, 0);
    font-size: 44px;
}

.c19274 {
    color: black;
    width: 93.3333px;
    height: 93px;
}

.c19766 {
    color: rgb(0, 4, 255);
    position: absolute;
    font-size: 33px;
}

.c20001 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.c20058 {
    font-family: 微软雅黑;
    font-size: 20px;
    white-space-collapse: preserve;
}

@media (max-width: 768px) {
    .htmlpage-cell {
        width: 100%;
        display: block;
    }
}